@media (min-width: 1280px){
    .container{
        max-width: 1186px;
    }
}
@media screen and (min-width:992px){
    .menu_list::before {
        bottom: -13px;
    }
    .inn_menu {
        margin: 0 -38px 0 0;
    }
}
@media (max-width: 1199px){
    #hero_sec {
        padding: 70px 0 70px;
    }
    .hero_img_wrap,
    .hero_pro_box{
        width: 50%;
    }
    .hero_content_wrap{
        width: 45%;
    }
    .hero_pro_wrap {
        padding-left: 30px;
    }
    .hero_pro_box_one {
        padding-top: 23px;
    }
    .hero_title {
        font-size: 40px;
        max-width: 360px;
    }
    .hero_title span {
        font-size: 50px;
    }
    .hero_detail {
        font-size: 18px;
        max-width: 404px;
    }
    .cm_btn {
        padding: 15px 29px;
    }
    #insurances_sec{
        padding: 70px 0;
    }
    #about_sec{
        padding-top: 70px;
    }
    #service_sec{
        padding-top: 110px;
    }
    .insurances_logo ul li{
        width: 14%;
        text-align: center;
    }
    .dummy_text {
        font-size: 18px;
        max-width: 726px;
        margin: 20px auto 0;
    }
    .meraki_box {
        padding: 50px 30px;
    }
    .meraki_title {
        font-size: 50px;
        margin-bottom: 5px;
    }
    .meraki_sub, .meraki_cuntent {
        font-size: 24px;
    }
    .meraki_sub {
        margin-bottom: 30px;
    }
    .about_content_wrap {
        padding-left: 0;
    }
    .about_dummy_content + .about_dummy_content {
        margin-top: 25px;
    }
    #about_sec .row {
        margin-top: 60px;
    }
    .mt_top_30,
    .mt_top_77{
        align-items: center;
    }
    #contact_info_sec {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (max-width: 991px){
    /* Mobile Menu Start */
    .menu_toggle_btn {
        cursor: pointer;
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        width: 25px;
        height: 25px;
        position: relative;
        z-index: 102;
    }
    .menu_toggle_btn span {
        width: 18.39px;
        height: 2px;
        background-color: #000;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .menu_toggle_btn span:nth-child(1) {
        margin-top: 0;
        margin-bottom: 9px;
        width: 12px;
        margin-left: auto;
    }
    .menu_toggle_btn span:nth-child(2) {
        width: 25px;
        margin-bottom: 9px;
    }
    .menu_toggle_btn span:nth-child(3) {
        width: 12px;
        margin-right: auto;
    }
    .open_menu .menu_toggle_btn span:nth-child(1) {
        transform: rotate(45deg) translateY(2px) translateX(5px);
        width: 25px;
    }
    .open_menu .menu_toggle_btn span:nth-child(2){
        display: none;	
    }
    .open_menu .menu_toggle_btn span:nth-child(3) {
        transform: rotate(-43deg) translateY(-3px) translateX(6px);
        width: 25px;
    }
    /* Mobile Menu Close */
    /* Mobile Menu Open Start */
    .menu_block {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background:#fff;
        clip-path: circle(0px at 100% 0px);
        -webkit-clip-path: circle(0px at 100% 0px);
        -webkit-transition: 0.5s ease all;
        -o-transition: 0.5s ease all;
        transition: 0.5s ease all;
        z-index: 100;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .open_menu .menu_block {
        clip-path: circle(100%);
        -webkit-clip-path: circle(100%);
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
        text-align: center;
    }
    .inn_menu {
        flex-direction: column;
    }
    .menu_item{
        width: 100%;
        margin-bottom: 15px;
    }
    .menu_item:not(:first-child){
        margin-left: 0;
    }
    .menu_list {
        justify-content: center;
        padding: 0;
        height: 30px;
        display: inline-block;
    }
    .menu_list:not(:last-child){
        margin-bottom: 15px;
    }
    /* Mobile Menu Open Close */
    .hero_title {
        font-size: 37px;
    }
    .hero_title span,
    .sec_titel_text span {
        font-size: 45px;
    }
    .hero_detail {
        font-size: 16px;
        max-width: 274px;
        margin-bottom: 15px;
    }
    .hero_social_title {
        font-size: 16px;
    }
    .hero_social ul li + li {
        margin-left: 5px;
        display: inline-block;
    }
    .hero_social ul li a{
        width: 80%;
    }
    .hero_social ul li a img{
        width: 100%;
    }
    .cm_btn {
        padding: 11px 29px;
        font-size: 16px;
    }
    .hero_social {
        margin-bottom: 20px;
    }
    #hero_sec,
    #insurances_sec{
        padding: 60px 0;
    }
    #about_sec{
        padding-top: 60px;
    }
    #service_sec{
        padding-top: 80px;
    }
    .insurances_logo ul li{
        width: 33.3333%;
        text-align: center;
        margin: 15px auto;
    }
    .sec_titel_text {
        font-size: 37px;
    }
    .about_content_title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .about_dummy_content {
        font-size: 16px;
    }
    .about_dummy_content + .about_dummy_content {
        margin-top: 20px;
    }
    #about_sec .row {
        margin-top: 50px;
    }
    .meraki_box {
        padding: 40px 20px;
    }
    .service_2_content {
        width: 100%;
        padding: 30px;
    }
    .mt_top_77 {
        margin-top: 57px;
    }
    .service_title {
        font-size: 24px;
    }
    .service_text {
        font-size: 16px;
        margin-top: 20px;
        max-width: 100%;
    }
    .service_sub {
        font-size: 18px;
    }
    .service_icon {
        bottom: 25px;
        left: -30px;
        width: 90px;
    }
    .shape_bg {
        width: 100%;
        height: 596px;
    }
    .media_title {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .media_text {
        font-size: 16px;
    }
    .media_img {
        width: 34px;
        height: 28px;
    }
    .media_content + .media_content {
        margin-top: 18px;
    }
    .right_arrow {
        right: 16px;
        bottom: 110px;
    }
    #careers_sec {
        padding: 90px 0 77px;
    }
    .careers_title {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .careers_text {
        font-size: 16px;
    }
    .careers_form {
        padding: 28px 15px 63px;
    }
    .careers_form_title {
        margin-bottom: 20px;
    }
    .contact_form_wrap {
        border-radius: 10px;
        padding: 30px 20px;
    }
    .cm_contact span {
        font-size: 16px;
    }
    .cm_contact a,
    .cm_contact p{
        font-size: 16px;
    }
    .contact_body h2 {
        font-size: 22px;
    }
    .contact_media + .contact_media {
        margin-top: 20px;
    }
    .contact_icon {
        max-width: 35px;
        height: 35px;
    }
    .contact_detail{
        padding-left: 0;
    }
    #contact_info_sec {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .business_cn span {
        width: 191px;
    }
    #about_sec,
    #careers_sec{
        height: auto;
        display: block;
    }
}
@media (max-width: 767px){
    .contact_text {
        flex-direction: column;
    }
    .contact_text > a + a{
        margin-top: 8px;
    }
    .contact_text > a {
        font-size: 14px;
    }
    .contact_text > a:nth-child(1) img{
        width: 17%;
    }
    .contact_text > a:nth-child(2) img{
        width: 12%;
    }
    #hero_sec,
    #insurances_sec{
        padding: 50px 0;
    }
    #about_sec{
        padding-top: 50px;
    }
    .cm_row {
        flex-direction: column-reverse;
    }
    .hero_content_wrap,
    .hero_img_wrap{
        width: 100%;
    }  
    .hero_img_wrap{
        margin-bottom: 30px;
    }
    .hero_title {
        max-width: 100%;
    }  
    .hero_title,
    .sec_titel_text{
        font-size: 32px;
    }
    .hero_title span,
    .sec_titel_text span{
        font-size: 42px;
    }
    .hero_detail {
        font-size: 14px;
        max-width: 100%;
    }
    .hero_social_title {
        font-size: 14px;
    }
    .hero_pro_wrap {
        padding-left: 0;
    }
    .cm_btn {
        padding: 14px 29px 10px;
        font-size: 14px;
    }
    .sec_ttile > img{
        width: 32%;
    }
    .dummy_text {
        font-size: 16px;
        max-width: 100%;
        margin: 15px auto 0;
    }
    .insurances_logo {
        margin-top: 24px;
    }
    .meraki_box {
        padding: 30px 20px 40px;
        margin-bottom: 30px;
    }
    .about_content_title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .about_dummy_content {
        font-size: 14px;
        max-width: 100%;
    }
    .about_dummy_content + .about_dummy_content {
        margin-top: 15px;
    }
    .meraki_sub {
        margin-bottom: 20px;
    }
    .meraki_title {
        margin-bottom: 0;
    }
    #service_sec {
        padding-bottom: 276px;
        padding-top: 70px;
    }
    #service_2_sec {
        margin-top: -218px;
    }
    .service_content{
        margin-top: 30px;
    }
    .mt_top_30 {
        margin-top: 25px;
    }
    .mt_top_77 {
        margin-top: 37px;
    }
    .service_text {
        font-size: 14px;
        margin-top: 15px;
    }
    .service_title {
        font-size: 22px;
    }
    .service_sub {
        font-size: 16px;
    }
    .media_boby {
        margin-left: 15px;
    }
    .media_img {
        width: 24px;
        height: 18px;
    }
    .service_2_content {
        padding: 20px;
        box-shadow: 1px 7px 12px 4px #d9d9d9;
    }
    .media_content + .media_content {
        margin-top: 15px;
    }
    .media_title {
        margin-bottom: 2px;
    }
    .shape_bg {
        display: none;
    }
    .right_arrow{
        display: none;
    }
    .careers_content_wrap{
        margin-bottom: 30px;
    }
    .careers_content_wrap {
        max-width: 100%;
        margin-top: 0;
    }
    .careers_form {
        max-width: 100%;
        padding: 28px 15px 35px;
    }
    #careers_sec {
        padding: 90px 0 65px;
    }
    #careers_sec .row {
        margin-top: 52px;
    }
    .careers_title {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .contact_detail{
        margin-top: 30px;
    }
    .contact_media + .contact_media {
        margin-top: 30px;
    }
    .cm_contact + .cm_contact {
        margin-top: 3px;
    }
    .contact_body h2 {
        font-size: 18px;
    }
    .cm_contact span {
        font-size: 14px;
    }
    .cm_contact a,
    .cm_contact p{
        font-size: 14px;
        display: block;
    }
    .business_cn span {
        width: 100%;
    }
    .cm_contact span {
        margin-right: 10px;
    }
    .contact_media {
        flex-direction: column;
    }
    .contact_icon {
        margin-right: 0;
        margin: 0 auto 10px;
    }
    .cm_contact p.color_change {
        font-size: 14px;
    }
    #contact_info_sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .copy_right{
        text-align: center;
    }
    #footer_section .hero_social ul {
        justify-content: center;
    }
    .hero_social{
        margin-top: 10px;
    }
    #footer_section {
        padding: 15px 0;
    }
    .copy_right p, .copy_right a {
        font-size: 14px;
    }
    .careers_form_title {
        font-size: 28px;
        margin-bottom: 15px;
    }
    #contact_info_sec .row {
        margin-top: 20px;
    }
    .contact_form_wrap {
        padding: 20px 15px;
    }
    .cn_input + .cn_input {
        margin-top: 10px;
    }
    .cn_btn{
        margin-top: 15px;
    }
    .service_icon {
        display: none;
    }
    .contact_content{
        text-align: center;
    }
    #about_sec .container{
        position: relative;
    }
}
@media (max-width: 450px){
    #hero_sec,
    #insurances_sec{
        padding: 40px 0;
    }
    #about_sec{
        padding-top: 40px;
    }
    #service_sec{
        padding-top: 60px;
    }
    .cm_img_wrap + .cm_img_wrap {
        margin-top: 20px;
    } 
    .hero_title,
    .sec_titel_text{
        font-size: 28px;
    }
    .hero_title span,
    .sec_titel_text span{
        font-size: 38px;
        display: inline-block;
    }
    .hero_content_wrap{
        text-align: center;
    }
    .hero_title {
        max-width: 100%;
    }
    .hero_social ul{
        justify-content: center;
    }
    .hero_social {
        margin-bottom: 15px;
    }
    .sec_titel_text {
        margin-bottom: 0;
    }
    .dummy_text {
        font-size: 14px;
        margin: 13px auto 0;
    }
    .insurances_logo ul li {
        width: 50%;
    }
    #about_sec .row {
        margin-top: 30px;
    }
    .meraki_box {
        padding: 20px 20px 30px;
    }
    .careers_form {
        max-width: 100%;
        padding: 28px 15px 35px;
    }
    #careers_sec {
        padding: 70px 0 55px;
    }
    #careers_sec .row {
        margin-top: 52px;
    }
    .form_btn {
        margin-top: 25px;
        font-size: 18px;
        padding: 10px;
    }
    .careers_input + .careers_input {
        margin-top: 20px;
    }
    .careers_text {
        font-size: 14px;
    }
}
@media (max-width: 367px){
    .hero_title, .sec_titel_text {
        font-size: 24px;
    }
    .hero_title span, .sec_titel_text span{
        font-size: 34px;
    }
    .dummy_text {
        margin: 10px auto 0;
    }
    .insurances_logo ul li {
        margin: 9px auto;
    }
    .inner_input_group {
        width: 100%;
    }
    .inner_input_group + .inner_input_group {
        margin-top: 20px;
    }
    .careers_input {
        flex-direction: column;
    }
}